@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Floor Charts</title>
    <link href="@Url.Content("~/Content/landingpage.css")"
          rel="stylesheet" type="text/css" />

</head>

<body>

    <!--Top Navigation Bar Begins -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project Dalek", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Floor Plans", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reports", "Reports", "Reports")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- Header for Landing Page -->
    <div id="header">
        <p>
            <span class="m1">Select a Floor Plan</span>
        </p>
    </div>

    <!-- Available Floor Plans Listed Here -->
    <div id="navbars">
        <table>
            <tr><th colspan="9" class="m2">Available Floor Plans</th></tr>
            <tr>
                <td>
                    @Html.ActionLink("4 Man Floor Plan", "Index4", "Tables")
                </td>
                <td>
                    @Html.ActionLink("5 Man Floor Plan", "Index5", "Tables")
                </td>
                <td>
                    @Html.ActionLink("6 Man Floor Plan", "Index6", "Tables")
                </td>
                <td>
                    @Html.ActionLink("7 Man Floor Plan", "Index7", "Tables")
                </td>
                <td>
                    @Html.ActionLink("8 Man Floor Plan", "Index8", "Tables")
                </td>
                <td>
                    @Html.ActionLink("9 Man Floor Plan", "Index9", "Tables")
                </td>
                <td>
                    @Html.ActionLink("10 Man Floor Plan", "Index10", "Tables")
                </td>
                <td>
                    @Html.ActionLink("11 Man Floor Plan", "Index11", "Tables")
                </td>
                <td>
                    @Html.ActionLink("12 Man Floor Plan", "Index12", "Tables")
                </td>
            </tr>
        </table>

    <!-- Available Reports Listed Here -->
    <!-- 'Table' Report' here-->
    <!-- 'History Log' here -->

    <!-- Close Options Listed Here -->
    <!-- 'Reset' function -->
    <!-- '-->


</div>

    <div id="main">
        <p>
            <span class="center"><img src="images/RRLogo.jpg" alt="Yummm!" /></span>
        </p>
    </div>

</body>