@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Floor Charts</title>
    <link href="@Url.Content("~/Content/landingpage.css")"
          rel="stylesheet" type="text/css" />

</head>

<div id="header">
    <p>
        <span class="m1">Select a Floor Plan</span>
    </p>
</div>

<div id="navbars">

    <table>
        <tr><th colspan="9">Available Floor Plans</th></tr>
        <tr>
            <td>
                @Html.ActionLink("4 Man 2 Cocktail", "Index4", "Tables")
            </td>
            <td>
                @Html.ActionLink("5 Man 2 Cocktail", "Index5", "Tables")
            </td>
            <td>
                @Html.ActionLink("6 Man 2 Cocktail", "Index6", "Tables")
            </td>
            <td>
                @Html.ActionLink("7 Man 2 Cocktail", "Index7", "Tables")
            </td>
            <td>
                @Html.ActionLink("8 Man 2 Cocktail", "Index8", "Tables")
            </td>
            <td>
                @Html.ActionLink("9 Man 2 Cocktail", "Index9", "Tables")
            </td>
            <td>
                @Html.ActionLink("10 Man 2 Cocktail", "Index10", "Tables")
            </td>
            <td>
                @Html.ActionLink("11 Man 2 Cocktail", "Index11", "Tables")
            </td>
            <td>
                @Html.ActionLink("12 Man 2 Cocktail", "Index12", "Tables")
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("7 Man 3 cocktail", "Index13", "Tables")
            </td>
            <td>
                @Html.ActionLink("8 Man 3 cocktail", "Index14", "Tables")
            </td>
            <td>
                @Html.ActionLink("9 Man 3 cocktail", "Index15", "Tables")
            </td>
            <td>
                @Html.ActionLink("10 Man 3 cocktail", "Index16", "Tables")
            </td>
            <td>
                @Html.ActionLink("11 Man 3 cocktail", "Index17", "Tables")
            </td>
            <td>
                @Html.ActionLink("12 Man 3 cocktail", "Index18", "Tables")
            </td>
        </tr>
    </table>
    <div id="main">
        <p>
            <span class="center"><img src="images/RRLogo.jpg" alt="Yummm!" /></span>
        </p>
    </div>
